.title {
  color: #3e58e9;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.link {
  color: black;
  text-decoration: none;
  margin-right: 5px;
}
.linkActive {
  color: lightblue;
}
.icon {
  width: 30px;
  height: 30px;
  fill: #3e58e9;
}
.icon:hover {
  fill: #2f42af;
}
