.form {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
}
.input {
  padding: 5px;
  margin: 10px 0 10px 0;
}
.input:focus {
  border: 3px solid lightblue;
  border-radius: 2px;
  outline: transparent;
}
.input:valid {
  border: 3px solid lightgreen;
}
.btn {
  width: 100%;
  padding: 3px;
  color: white;
  background-color: rgb(62, 88, 233);
  border: 1px solid gray;
  font-size: 15px;

  border-radius: 5px;
  outline: transparent;
}
.btn:hover {
  background-color: rgb(47, 66, 175);
}
.title {
  font-size: 25px;
}
